<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'users/css/auth.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="form-wrapper">
        {% block content %}
        {% endblock %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    {% block extra_body %}{% endblock %}
</body>
</html>