{% extends 'users/base.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <form method="POST">
        <h2>Change Password</h2>
        {% csrf_token %}
        <div class="mb-3">
            <label for="password" class="form-label">New Password</label>
            {{ form.password }}
            {% if form.password.errors %}
                <div class="form-text error">{{ form.password.errors }}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            {{ form.confirm_password }}
            {% if form.confirm_password.errors %}
                <div class="form-text error">{{ form.confirm_password.errors }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn-primary">Change Password</button>
        <div class="mb-3">
            <a href="{% url 'login' %}">Back to Login</a>
        </div>
    </form>
{% endblock %}